{{>headerS}}
{{>slidebar_S}}


<div class="main">

  <form action="/Student/profile" method="POST" enctype="multipart/form-data">

    <span class="img-background">
      <img class="pro-img" src="/upload/images/{{user.image}}" alt="no image" class="rounded-circle">

      <label for="file-input">
        <img class="immmg" src="https://icon-library.net/images/upload-photo-icon/upload-photo-icon-21.jpg"
          width="20px" />
      </label>
      <input id="file-input" name="image" type="file" />

    </span>



    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">


        <div class="content">

          <h3> {{user.fullName}}</h3>

          <div class="inside-content">

            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Full Name:</strong> <span>{{user.fullName}}</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{user.email}}</span></li>
              </li>
               <li><i class="bi bi-chevron-right"></i> <strong>MatricNo:</strong> <span>{{user.matricNo}}</span>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{user.phone}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Faculty:</strong> <span>{{user.faculty}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Major:</strong> <span>{{user.major}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Semester:</strong> <span>{{user.semester}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Nationality:</strong> <span>{{user.nationality}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Thesis Title:</strong> <span>{{user.thesisTitle}}</span></li>

            </ul>
          </div>


        </div>


      </div>
    </section><!-- End profile Section -->
    <div class="centerTheBtn">


      <div class="profile-bottom-div">
        <a href="editinfo" name="editinfo">
          <button type="button" class="btn btn-warning">Edit Information</button>
        </a>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success" value="submit">Submit</button>
          </div>
        </div>




      </div>
    </div>
  </form>


</div>