<head>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .cont {
            margin-top: 5%;
            margin-left: 5%;
        }

        .DivBeforeTable {
            margin-left: 22%;
            margin-right: 20%;
        }



        /* TABLES */
        .table {
            background-color: hsl(0, 0%, 95%);

            border-collapse: separate;
            border: 1px solid;
            padding: 10px;
            box-shadow: 3px 3px 3px #a8a7a7;

        }




        .table tbody>tr>td {
            font-size: 0.875em;
            vertical-align: middle;
            background-color: white;
            border: 1px solid;

        }

        #TR>td>a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
{{>headerS}}
{{>slidebar_S}}

<div class="cont">

    <div class="DivBeforeTable">

        <table class="table">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Matric Number</span></th>
                    <th><span>Chairperson</span></th>
                    <th><span>Examiner 1</span></th>
                    <th><span>Examiner 2</span></th>



                </tr>
            </thead>

            <tbody>





                <tr id="TR">
                    <td>

                        {{user.fullName}}
                    </td>
                    <td>
                        {{user.matricNo}}
                    </td>
                    <td class="text-center">

                        {{log "chairPersonId" student.chairPersonId}}

                        {{#if student.chairPersonId}}
                        <span class="label label-default">{{student.chairPersonId.fullName}}</span>

                        {{else}}
                        <p>Non</p>
                        {{/if}}


                    </td>
                    <td>

                        {{log "chairPersonId" student.examinerOneId}}

                        {{#if student.examinerOneId}}
                        <span class="label label-default">{{student.examinerOneId.fullName}}</span>

                        {{else}}
                        <p>Non</p>
                        {{/if}}

                    </td>


                    <td>

                             {{log "chairPersonId" student.examinerTwoId}}

                        {{#if student.examinerTwoId}}
                        <span class="label label-default">{{student.examinerTwoId.fullName}}</span>

                        {{else}}
                        <p>Non</p>
                        {{/if}}

                    </td>



                </tr>

            </tbody>
        </table>

    </div>
</div>