<div class="pagetitle">

    Viva Documents

</div>
<hr>


{{>slidebar_S}}



<!-- Modal -->



<div class="main">


    {{!-- The proposal --}}


    <div class="card text-center">
        <div class="card-header">
            <p> The proposal</p>

        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>


            {{#if isProposal}}


            {{#each documents}}




            {{#ifEquals fileType "proposal"}}

            <p> <span class="bg-success text-white card-text"> {{#toSplitFile documentName}}
                    {{/toSplitFile}} is Uploaded</span> </p>

            <div class="text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#proposal">Upload</button>






                <a href="/upload/images/{{documentName}}" class=" text-center btn btn-primary " type="submit"
                    value="Download">

                    Preview

                </a>










                {{/ifEquals}}





                {{/each}}




                {{else}}

                <span> <strong>Please upload a file</strong></span>
                <br>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#proposal">Upload</button>






                    <a href="/upload/images/{{documentName}}" class=" text-center btn btn-primary " type="submit"
                        value="Download">

                        Preview

                    </a>









                    {{/if}}








                </div>





            </div>
            <div class="card-footer text-muted">

                {{documents.createdAt}}

            </div>



        </div>


        {{!-- The presentation slides --}}

        <div class="card text-center">
            <div class="card-header">
                <p> Presentation Slides</p>

            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>


                {{#if isPre}}

                {{#each documents}}


                {{#ifEquals fileType "Presentation"}}

                <p> <span class="bg-success text-white card-text"> {{#toSplitFile documentName}}
                        {{/toSplitFile}} is Uploaded</span> </p>

                <div>

                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#presentationSlides">Upload</button>




                        <a href="/upload/images/{{documentName}}" class=" text-center btn btn-primary " type="submit"
                            value="Download">

                            Preview

                        </a>
                    </div>


                </div>


                {{/ifEquals}}

                {{/each}}

                {{else}}


                <span> <strong>Please upload a file</strong></span>
                <br>

                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#presentationSlides">Upload</button>




                    <a href="/upload/images/{{documentName}}" class=" text-center btn btn-primary " type="submit"
                        value="Download">

                        Preview

                    </a>
                </div>

                {{/if}}









            </div>

        </div>

        {{!-- The thesis --}}

        <div class="card text-center">
            <div class="card-header">
                <p> Thesis </p>

            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>



                {{#if isThesis}}

                {{#each documents}}


                {{#ifEquals fileType "thesis"}}

                <p> <span class="bg-success text-white card-text"> {{#toSplitFile documentName}}
                        {{/toSplitFile}} is Uploaded</span> </p>


                <div>

                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#thesis">Upload</button>




                        <a href="/upload/images/{{documentName}}" class=" text-center btn btn-primary " type="submit"
                            value="Download">

                            Preview

                        </a>
                    </div>


                </div>


                {{/ifEquals}}



                {{/each}}


                {{else}}

                <span> <strong>Please upload a file</strong></span>
                <br>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#thesis">Upload</button>




                    <a href="/upload/images/{{documentName}}" class=" text-center btn btn-primary " type="submit"
                        value="Download">

                        Preview

                    </a>
                </div>


                {{/if}}








            </div>












            {{!-- for proposal --}}

            <div class="modal fade" id="proposal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">The proposal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>



                        <form action="submitDoc" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="file" name="document">
                                <input type="hidden" name="fileType" value="proposal">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            {{!-- for presentation Slides --}}

            <div class="modal fade" id="presentationSlides" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Presentation Slides</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>



                        <form action="submitPresentationSlides" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="file" name="document">
                                <input type="hidden" name="fileType" value="Presentation">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            {{!-- for Thesis --}}

            <div class="modal fade" id="thesis" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thesis</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>



                        <form action="submitThesis" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="file" name="document">
                                <input type="hidden" name="fileType" value="thesis">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>





        </div>