<head>
    <style>
        html {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0
        }
        .container{
        
            padding:2em;
            width:100%;
            

        }
        .form-group{
            width:100%;
        }
        .col-md-4{
             width:100%;

        } 
        .control-label{

        }
    </style>
</head>
{{>headerSV}}
{{>slidebar_SV}}

{{!-- //if i am in examiner page and i press submit on subervisor page there will be a conflict --}}

<div class="profileHeader" style="color:aliceblue">

    <h5>Student Name: <strong>{{student.fullName}}</strong></h5>
    <h5>Matric Card Number: <strong>{{student.matricNo}}</strong> </h5>

</div>


<hr style="color:aliceblue">
<div class="main-choose">




    <div class="container ">

        <form action="/Supervisor/choose" method="POST">

            <input type="hidden" value="{{student.matricNo}}" name="matricNo">

            <fieldset>
                <!-- Select Basic -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Choose a Chairperson:</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="chairPersonId" class="form-control selectpicker">

                                {{#select student.chairPersonId._id }}
                                <option value="null" selected>Non</option>
                                {{#each chairPersons}}

                                <option {{#ifEquals _id ../student.chairPersonId._id}} selected {{/ifEquals}}
                                    value="{{_id}}">{{fullName}} </option>

                                {{/each}}
                                {{/select}}

                            </select>

                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label">Choose Examiner 1</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="examinerOneId" class="form-control selectpicker">

                                {{#select student.examinerOneId._id }}
                                <option value="null" selected>Non</option>

                                {{#each examiners}}


                                <option {{#ifEquals _id ../student.examinerOneId._id}} selected {{/ifEquals}}
                                    value="{{_id}}">{{fullName}} </option>



                                {{/each}}
                                {{/select}}



                            </select>

                        </div>
                    </div>
                </div>







                <!-- Select Basic -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Choose a Examiner 2</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>


                            <select name="examinerTwoId" class="form-control selectpicker">
                                {{#select student.examinerTwoId._id }}
                                <option value="null" selected>Non</option>
                                {{#each examiners}}



                                <option {{#ifEquals _id ../student.examinerTwoId._id}} selected {{/ifEquals}}
                                    value="{{_id}}">{{fullName}} </option>


                                {{/each}}
                                {{/select}}


                            </select>

                        </div>
                    </div>
                </div>

                <!-- Select Basic -->


                <br>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        		<input type="hidden" name="_csrf" value="{{csrfToken}}">

                        <button type="submit" class="btn btn-warning" value="submit">Submit <span
                                class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div><!-- /.container -->