{{>slidebar_SV}}
<header class="header_foredit">

  <h3>Edit Your Information</h3>
  <hr>

</header>
<div class="main">



  <div class=" editInfo_table text-left">



    <form class="form-horizontal " method="POST" action="/Supervisor/editinfo">







      <div class="form-group row">
        <!-- Username -->
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">

          <span class="bg-success" style="color: white;">{{user.email}}</span>

        </div>
      </div>
      <br>

      <div class="form-group row">
        <!-- Username -->
        <label class="col-sm-2 col-form-label">StaffNo:</label>
        <div class="col-sm-10">

          <span class="bg-success" style="color: white;">{{user.staffNo}}</span>

        </div>
      </div>
      <br>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>

      </div>
      <br>





      <div class="form-group row">
        <!-- Username -->
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">

          <input type="text" id="inputEmail3" name="fullName" value="{{user.fullName}}" class="form-control">
        </div>
      </div>
      <br>

      <div class="form-group row">
        <!-- institute -->
        <label class="col-sm-2 col-form-label">Institute:</label>
        <div class="col-sm-10">
          <input type="text" id="inputEmail3" name="institute" value="{{user.institute}}" class="form-control">
        </div>
      </div>
      <br>

      <div class="form-group row">
        <!-- postion -->
        <label class="col-sm-2 col-form-label">Postion:</label>
        <div class="col-sm-10">

          <input type="text" id="inputEmail3" name="postion" value="{{user.postion}}" class="form-control">
        </div>
      </div>
      <br>



      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone:</label>
        <div class="col-sm-10">
          <input type="text" id="inputEmail3" name="phone" value="{{user.phone}}" class="form-control">
        </div>
      </div>
      <br>

       <div class="form-group row">
        <label class="col-sm-2 col-form-label">Major:</label>
        <div class="col-sm-10">
          <input type="text" id="inputEmail3" name="major" value="{{user.major}}" class="form-control">
        </div>
      </div>
      <br>


      <div class="control-group text-center">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-primary" value="submit">Submit</button>
        </div>
      </div>


    </form>

  </div>

</div>