<head>
  <style>
    html {
      margin: 0;
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0
    }
  </style>
</head>
{{>headerSV}}
{{>slidebar_SV}}

<form class="text-center" action="/Supervisor/profile" method="POST" enctype="multipart/form-data">


  <div id="userInfo">

    <section id="about" class="about ">

      <div class="row proBox">
        <div class="col-lg-5 imgBox " data-aos="fade-right">

          <div class="image-container">

            <label for="file">
              <i class="img-postion bi bi-card-image">
                <input type="file" name="image" id="file" style="display: none" class="form-control-file"
                  accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos">
              </i>

            </label>
            <img src="/upload/images/{{user.image}}" style="height: 150px; width: 150px;" alt="no image">
          </div>









        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3> {{user.fullName}}</h3>
          <hr>

          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Full Name:</strong> <span>{{user.fullName}}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{user.email}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Institute:</strong> <span>{{user.institute}}</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Postion:</strong> <span>{{user.postion}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Major:</strong> <span>{{user.major}}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Staff No:</strong> <span>{{user.staffNo}}</span>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{user.phone}}</span></li>
              </ul>
            </div>


          </div>

        </div>

      </div>

    </section>
    <br>

  </div>

  <!-- ======= About Section ======= -->




  <div class="text-center">

    <a href="editinfo" name="editinfo">
      <button type="button" class="btn btn-secondary"> Edit infornation</button>


    </a>



    <button class="btn btn-warning" value="submit">Submit</button>



  </div>

















</form>