<head>


	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


	<style>
		body {
			margin-top: 20px;
		}


		/* USER LIST TABLE */
		.user-list tbody td>img {
			position: relative;
			max-width: 50px;
			float: left;
			margin-right: 15px;
		}

		.user-list tbody td .user-link {
			display: block;
			font-size: 0.8em;
			padding-top: 3px;
			margin-left: 60px;
		}

		.user-list tbody td .user-subhead {
			font-size: 0.875em;
			font-style: italic;
		}

		/* TABLES */
		.table {
			border-collapse: separate;
		}

		.table-hover>tbody>tr:hover>td,
		.table-hover>tbody>tr:hover>th {
			background-color: #eee;
		}

		.table thead>tr>th {
			border-bottom: 1px solid #C2C2C2;
			padding-bottom: 0;
		}

		.table tbody>tr>td {
			font-size: 0.875em;
			background: #f5f5f5;
			border-top: 10px solid #fff;
			vertical-align: middle;
			padding: 12px 8px;
		}

		.table tbody>tr>td:first-child,
		.table thead>tr>th:first-child {
			padding-left: 20px;
		}

		.table thead>tr>th span {
			border-bottom: 2px solid #C2C2C2;
			display: inline-block;
			padding: 0 5px;
			padding-bottom: 5px;
			font-weight: normal;
		}

		.table thead>tr>th>a span {
			color: #344644;
		}

		.table thead>tr>th>a span:after {
			content: "\f0dc";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			margin-left: 5px;
			font-size: 0.75em;
		}

		.table thead>tr>th>a.asc span:after {
			content: "\f0dd";
		}

		.table thead>tr>th>a.desc span:after {
			content: "\f0de";
		}

		.table thead>tr>th>a:hover span {
			text-decoration: none;
			color: #2bb6a3;
			border-color: #2bb6a3;
		}

		.table.table-hover tbody>tr>td {
			-webkit-transition: background-color 0.15s ease-in-out 0s;
			transition: background-color 0.15s ease-in-out 0s;
		}

		.table tbody tr td .call-type {
			display: block;
			font-size: 0.75em;
			text-align: center;
		}

		.table tbody tr td .first-line {
			line-height: 1.5;
			font-weight: 400;
			font-size: 1.125em;
		}

		.table tbody tr td .first-line span {
			font-size: 0.875em;
			color: #969696;
			font-weight: 300;
		}

		.table tbody tr td .second-line {
			font-size: 0.875em;
			line-height: 1.2;
		}

		.table a.table-link {
			margin: 0 5px;
			font-size: 1.125em;
		}

		.table a.table-link:hover {
			text-decoration: none;
			color: #2aa493;
		}

		.table a.table-link.danger {
			color: #fe635f;
		}

		.table a.table-link.danger:hover {
			color: #dd504c;
		}

		.table-products tbody>tr>td {
			background: none;
			border: none;
			border-bottom: 1px solid #ebebeb;
			-webkit-transition: background-color 0.15s ease-in-out 0s;
			transition: background-color 0.15s ease-in-out 0s;
			position: relative;
		}

		.table-products tbody>tr:hover>td {
			text-decoration: none;
			background-color: #f6f6f6;
		}

		.table-products .name {
			display: block;
			font-weight: 600;
			padding-bottom: 7px;
		}

		.table-products .price {
			display: block;
			text-decoration: none;
			width: 50%;
			float: left;
			font-size: 0.875em;
		}

		.table-products .price>i {
			color: #8dc859;
		}

		.table-products .warranty {
			display: block;
			text-decoration: none;
			width: 50%;
			float: left;
			font-size: 0.875em;
		}

		.table-products .warranty>i {
			color: #f1c40f;
		}

		.table tbody>tr.table-line-fb>td {
			background-color: #9daccb;
			color: #262525;
		}

		.table tbody>tr.table-line-twitter>td {
			background-color: #9fccff;
			color: #262525;
		}

		.table tbody>tr.table-line-plus>td {
			background-color: #eea59c;
			color: #262525;
		}

		.table-stats .status-social-icon {
			font-size: 1.9em;
			vertical-align: bottom;
		}

		.table-stats .table-line-fb .status-social-icon {
			color: #556484;
		}

		.table-stats .table-line-twitter .status-social-icon {
			color: #5885b8;
		}

		.table-stats .table-line-plus .status-social-icon {
			color: #a75d54;
		}

		#SP {
			margin-bottom: 5em;
		}

		#ADS {
			margin-bottom: 2em;
		}

		.open-button {
			background-color: rgb(172, 6, 6);
			color: white;
			padding: 5px 0px;
			cursor: pointer;
			opacity: 0.8;

			bottom: 23px;
			right: 28px;
			width: 150px;
		}


		/* The popup form - hidden by default */
		.form-popup {
			display: none;
			position: fixed;
			bottom: 5;
			border: 3px solid #f1f1f1;
		}

		/* Add styles to the form container */
		.form-container {
			max-width: 300px;
			padding: 10px;
			background-color: rgb(0, 0, 0);
		}

		/* Full-width input fields */
		.form-container input[type=text],
		.form-container input[type=password] {
			width: 100%;
			padding: 15px;
			margin: 5px 0 22px 0;
			border: none;
		}

		/* When the inputs get focus, do something */
		.form-container input[type=text]:focus,
		.form-container input[type=password]:focus {
			background-color: #ddd;
			outline: none;
		}

		/* Set a style for the submit/login button */
		.form-container .btn {
			color: white;
			padding: 16px 20px;
			border: none;
			cursor: pointer;
			width: 100%;
			margin-bottom: 10px;
			opacity: 0.8;
		}


		/* Add some hover effects to buttons */
		.form-container .btn:hover,
		.open-button:hover {
			opacity: 1;
		}
	</style>
</head>

<body>
	{{>slidebar_SV}}
	<div class="main">

		<div id="SP">
			<h1>Students Page</h1>


		</div>
		<hr>


		<div id="ADS">

			<button type="button" class="btn btn-danger" onclick="openForm()">Add New Student</button>
		</div>



		<div class="form-popup" id="myForm">
			<form action="addStudent" method="POST" class="form-container">



				<label for="text" style="color: white;"><b>Matric Card No:</b></label>
				<input type="text" placeholder="Enter Matric Card" name="matricNo" required>


				<button type="submit" class="btn" value="submit" style="color: rgb(0, 0, 0);">Add</button>
				<button type="button" class="btn cancel" onclick="closeForm()"
					style="color: rgb(0, 0, 0);">Close</button>
			</form>
		</div>

		<script>
			function openForm() {
				document.getElementById("myForm").style.display = "block";
			}

			function closeForm() {
				document.getElementById("myForm").style.display = "none";
			}
		</script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-box clearfix">
						<div class="table-responsive">
							<table class="table user-list">
								<thead>
									<tr>
										<th><span>Name</span></th>
										<th><span>Matric Number</span></th>
										<th><span>Chairperson</span></th>
										<th><span>Internal Examiner</span></th>
										<th><span>External Examiner</span></th>
										<th><span>Time</span></th>
										<th><span>Actions</span></th>

										<th>&nbsp;</th>

									</tr>
								</thead>

								<tbody>

									{{#each students}}
									<tr>
										<td>

											<a href="#" class="user-link">{{fullName}}</a>
										</td>
										<td>
											{{matricNo}}
										</td>
										<td class="text-center">
											<span class="label label-default">{{internalExaminerId.fullName}}</span>

										</td>
										<td>
											<a href="#">{{internalExaminerId.fullName}}</a>

										</td>


										<td style="width: 20%;">
											<a href="#">{{externalExaminerId.fullName}}</a>
										</td>
										<td>
											{{log "Time is:" Time}}
											<a href="">{{date}}</a>
										</td>
										<td>


											<a href="/Supervisor/choose?id={{_id}}" class="edit"><i class="material-icons"
													title="Edit">&#xE254;</i></a>
											<a href="deleteStudent" class="delete"><i class="material-icons"
													title="Delete">&#xE872;</i></a>


										</td>


									</tr>
									{{/each}}

								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="addStudent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">Add Student</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<form action="/addStudent" method="post">
						<div class="form-group">
							<label>Matric No:</label>
							<input type="text" id="matricNo" name="matricNo" class="form-control" required>
						</div>



						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
							<input type="submit" class="btn btn-success" value="Add">
						</div>
					</form>
				</div>
			</div>
		</div>
</body>