<head>


	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.cont {
			margin-top: 2%;
			margin-left: 5%;
		}

		.DivBeforeTable {
			margin-left: 22%;
			margin-right: 20%;
		}



		/* TABLES */
		.table {
			background-color: hsl(0, 0%, 95%);

			border-collapse: separate;
			border: 1px solid;
			padding: 10px;
			box-shadow: 3px 3px 3px #a8a7a7;

		}




		.table tbody>tr>td {
			font-size: 0.875em;
			vertical-align: middle;
			background-color: white;
			border: 1px solid;

		}

		#TR>td>a {
			text-decoration: none;
			color: black;
		}
	</style>
</head>
{{>headerSV}}
{{>slidebar_SV}}

<div class="cont">

	<div class="DivBeforeTable">

		<table class="table">
			<thead>
				<tr>
					<th><span>Name</span></th>
					<th><span>Matric Number</span></th>
					<th><span>Chairperson</span></th>
					<th><span>Examiner 1</span></th>
					<th><span>Examiner 2</span></th>
					<th><span>Time</span></th>
					<th><span>Actions</span></th>


				</tr>
			</thead>

			<tbody>



				{{#each students}}


				<tr id="TR">
					<td>

						{{fullName}}
					</td>
					<td>
						{{matricNo}}
					</td>
					<td class="text-center">
						<span class="label label-default">{{chairPersonId.fullName}}</span>

					</td>
					<td>

						<a href="#">{{examinerOneId.fullName}}</a>

					</td>


					<td>

						<a href="#">{{examinerTwoId.fullName}}</a>

					</td>
					<td>

						{{date}}
					</td>
					<td>


						<a href="/Supervisor/choose?id={{_id}}" class="edit"><i class="material-icons"
								title="Edit">&#xE254;</i></a>

						<a href="/Supervisor/deleteStudent/{{_id}}" class="delete"><i class="material-icons"
								title="Delete">&#xE872;</i></a>


					</td>


				</tr>
				{{/each}}

			</tbody>
		</table>

	</div>
</div>