<head>


	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


	<style>
		body {
			margin-top: 20px;
		}



		.StudentsHeader {

			margin-left: 80px;


			padding-top: 2em;
		}






		/* TABLES */
		.table {
			background-color: hsl(0, 0%, 95%);
			border-collapse: separate;
			border: 1px solid;
			padding: 10px;
			box-shadow: 5px 10px #888888;
		}

	


		.table tbody>tr>td {
			font-size: 0.875em;
			vertical-align: middle;
			background-color: white;
			border: 1px solid;
			
		}

	


		#SP {
			margin-bottom: 5em;
		}

		#ADS {
			margin-bottom: 2em;
		}

	</style>
</head>

{{>slidebar_SV}}

<header class="StudentsHeader">


	<h3>Students Page</h3>




</header>


<div class="main">


	<hr>





	


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<div class="main-box clearfix">

					<table class="table">
						<thead>
							<tr>
								<th><span>Name</span></th>
								<th><span>Matric Number</span></th>
								<th><span>Chairperson</span></th>
								<th><span>Examiner 1</span></th>
								<th><span>Examiner 2</span></th>
								<th><span>Time</span></th>
								<th><span>Actions</span></th>


							</tr>
						</thead>

						<tbody>



							{{#each students}}


							<tr id="TR">
								<td>

									{{fullName}}
								</td>
								<td>
									{{matricNo}}
								</td>
								<td class="text-center">
									<span class="label label-default">{{chairPersonId.fullName}}</span>

								</td>
								<td>

									<a href="#">{{examinerOneId.fullName}}</a>

								</td>


								<td style="width: 20%;">

									<a href="#">{{examinerTwoId.fullName}}</a>

								</td>
								<td>

									{{date}}
								</td>
								<td>


									<a href="/Supervisor/choose?id={{_id}}" class="edit"><i class="material-icons"
											title="Edit">&#xE254;</i></a>

									<a href="/Supervisor/deleteStudent/{{_id}}" class="delete"><i class="material-icons"
											title="Delete">&#xE872;</i></a>


								</td>


							</tr>
							{{/each}}

						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>







