{{>slideBar}}

<div class="main">

  <form action="/Admin/profile" method="POST" enctype="multipart/form-data">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Profile</h2>

        </div>




        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/upload/images/{{user.image}}" alt="no image" class="rounded-circle" width="200" height="200">

            {{log 'Image: ' user.image}}

          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3> {{user.fullName}}</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Full Name:</strong> <span>{{user.fullName}}</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{user.email}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Institute:</strong> <span>{{user.institute}}</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Postion:</strong> <span>{{user.postion}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Major:</strong> <span>{{user.major}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{user.phone}}</span></li>
                </ul>
              </div>

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <br>
    <br>
    <br><br><br>
    <div>
      <a href="editinfo" name="editinfo">
        <button type="button" id="edit_inf"> Edit infornation</button>


      </a>


      <div class="form-group">


        <label for="image" class="text-white">Upload image</label>
        <i class="bi bi-card-image"></i>
        <input type="file" name="image" id="image" class="form-control-file text-white">
        </i>
      </div>


      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success" value="submit">Submit</button>
        </div>
      </div>




    </div>
  </form>


</div>