{{>header}}
{{>slideBar}}

<div class="main-profile">


  <form action="/Admin/profile?_csrf={{csrfToken}}" method="POST" enctype="multipart/form-data">

    <!-- ======= About Section ======= -->
    <section>
      <div class="center-profile-info">






        <div class="info-img-container">

              <label for="file" >
            <i >
              <input type="file" name="image" id="file" style="display: none" class="form-control-file"
                accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos">
            </i>

          </label>

          <div class="profile-img" data-aos="fade-right">
            <img src="/upload/images/{{user.image}}" alt="no image" class="rounded-circle" width="200" height="200">
            
          </div>

          <div class="profile-content" data-aos="fade-left">
            
            <div class="name-profile">
              <h3> {{user.fullName}}</h3>
              
            </div>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Full Name:</strong> <span>{{user.fullName}}</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{user.email}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Institute:</strong> <span>{{user.institute}}</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Postion:</strong> <span>{{user.postion}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Major:</strong> <span>{{user.major}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{user.phone}}</span></li>
                </ul>
              </div>

            </div>

          </div>
   <input type="file" name="image" id="image" class="edit_inf">
        </div>





      </div>
    </section><!-- End About Section -->

    
    <div class="edit-info">
      <a href="/Admin/editinfo" name="editinfo">

        <button type="button" class="edit_inf"> Edit infornation</button>


      </a>




    
     
      
   


      <div class="control-group">
        <!-- Button -->
        <div class="controls">
         {{!-- csrf already used in url --}}
         {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}

          <button class="edit_inf" value="submit">Submit</button>
        </div>
      </div>




    </div>
  </form>


</div>