<head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta name="_csrf" content="{{csrfToken}}"> 


    <style>
        body {
            margin: 0;
            padding: 0
        }

        .main {

            background-color: #800000;
            width: 70%;
            margin-left: 18%;
        }

        .main-approve {
            margin-top: 3%;
            margin-left: 20%;
            background-color: rgb(233, 233, 233);
            padding-bottom: 1.5em;
            padding: 0 1.5em 1.5em 1.5em;
            width: 900px;

        }

        .table {
            width: 100%;
            border: 1px solid black;
            padding: 1em;
            background-color: white;
            box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);


        }

        .table-hover>tbody>tr:hover>td,
        .table-hover>tbody>tr:hover>th {

            background-color: #eee;
            text-decoration: none;

        }

        .table thead>tr {

            color: #800000;
            text-align: center;

        }



        .table tbody>tr>td {
            border: 1px solid black;
            padding: 3px 10px;
            font-size: 0.875em;
            background: lightgray;
            text-decoration: none;
            color: #800000;





        }

        .table tbody>tr>td>a {
            text-decoration: none;
            color: #800000;



        }




        #button-a {
            width: 50px;
            height: 40px;
        }

        .penRequests {
            text-align: center;
            padding: 1em
        }

        .penRequestsBC {
            color: black;
        }

        .penRequests1 {
            color: green;
        }

        .penRequests2 {
            color: red;
        }
    </style>
</head>

<body>
    {{>headerEX}}
    {{>slidebar_EX}}


    <div class="main">



        <div class="main-approve">



            <div class="container">
                <div class="row">

                    <table class="table">

                        <thead>

                            <div class="penRequests">

                                <span class="penRequestsBC">
                                    <p>Pending Requests</p>
                                </span>




                            </div>



                            <tr>
                                <th><span>Name</span></th>
                                <th><span>Matric Number</span></th>
                                <th><span>Supervisor</span></th>
                                <th><span>Time</span></th>
                                <th><span>Status</span></th>
                                <th><span>Reject</span></th>
                                <th><span>Approve</span></th>



                                <th>&nbsp;</th>

                            </tr>
                        </thead>



                        <tbody>



                            {{#each pending}}


                            <tr>
                                <td>

                                    <a href="#" class="user-link">{{fullName}}</a>
                                </td>
                                <td>
                                    {{matricNo}}
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">{{supervisorId.fullName}}</span>

                                </td>
                                <td>
                                    <a href="#">{{submittedDate}}</a>

                                </td>


                                <td style="width: 20%;">

                                    <p> Pending </p>


                                </td>

                                <td>

                                    <button id="button-a">
                                        <i class="bi bi-x-circle" style="font-size: 30px;"
                                            onclick="reject('{{_id}}')"></i>


                                    </button>


                                </td>
                                <td>

                                    <button id="button-a">
                                        <i class="bi bi-check" style="font-size: 30px;"
                                            onclick="approve('{{_id}}')"></i>
                                    </button>


                                </td>
                            </tr>
                            {{else}}
                            <tr>

                                <td colspan="7">
                                    <center>

                                        <p>No Data!</p>

                                    </center>
                                </td>




                            </tr>






                            {{/each}}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="main-approve">


            <div class="container">
                <div class="row">

                    <table class="table">
                        <thead>
                            <div class="penRequests">


                                <span class="penRequests1">

                                    <p>Approved requests</p>

                                </span>


                            </div>
                            <tr>
                                <th><span>Name</span></th>
                                <th><span>Matric Number</span></th>
                                <th><span>Supervisor</span></th>
                                <th><span>Time</span></th>
                                <th><span>Status</span></th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>

                        <tbody>

                            {{#each approved}}


                            <tr>
                                <td>

                                    <a href="#" class="user-link">{{fullName}}</a>
                                </td>
                                <td>
                                    {{matricNo}}
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">{{supervisorId.fullName}}</span>

                                </td>
                                <td>
                                    <a href="#">{{submittedDate}}</a>

                                </td>


                                <td style="width: 20%;">


                                    <p> Approved</p>



                                </td>


                            </tr>
                            {{else}}
                            <tr>

                                <td colspan="5">
                                    <center>

                                        <p>No Data!</p>

                                    </center>
                                </td>




                            </tr>


                            {{/each}}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="main-approve">

            <div class="container">
                <div class="row">

                    <table class="table">
                        <thead>
                            <div class="penRequests">

                                <span class="penRequests2">

                                    <p>Rejected requests</p>

                                </span>

                            </div>
                            <tr>
                                <th><span>Name</span></th>
                                <th><span>Matric Number</span></th>
                                <th><span>Supervisor</span></th>
                                <th><span>Time</span></th>
                                <th><span>Status</span></th>



                                <th>&nbsp;</th>

                            </tr>
                        </thead>

                        <tbody>

                            {{#each rejected}}


                            <tr>
                                <td>

                                    <a href="#" class="user-link">{{fullName}}</a>
                                </td>
                                <td>
                                    {{matricNo}}
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">{{supervisorId.fullName}}</span>

                                </td>
                                <td>
                                    <a href="#">{{submittedDate}}</a>

                                </td>


                                <td style="width: 20%;">


                                    <p> Rejected </p>






                                </td>


                            </tr>

                            {{else}}
                            <tr>

                                <td colspan="5">
                                    <center>

                                        <p>No Data!</p>

                                    </center>
                                </td>




                            </tr>


                            {{/each}}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>




    </div>


    <script>

        console.log('Wardan');

var _csrf = document.querySelector('meta[name="_csrf"]').getAttribute('content')
        function approve(studentId) {



            Swal.fire({
                title: 'Do you want to approve this selection?',
                showDenyButton: true,
                confirmButtonText: `Submit`,
                denyButtonText: `Cancel`,
            }).then((result) => {

                if (result.isConfirmed) {


                    console.log("Wardan: ");
                   // consle.log("_csrf: ", _csrf)


                    // HERE
                    $.ajax({
                        url: 'submitApprove',
                        type: 'POST',
                        headers: {
                            'CSRF-Token': _csrf
                        },
                        data: { id: studentId },
                        success: function (response) {


                            window.location.reload(false);
                            return false
                        }
                    });

                    Swal.fire('Saved!', '', 'success')

                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })


        }

        function reject(studentId) {



            Swal.fire({
                title: 'Are you sure you want to reject?',
                showDenyButton: true,
                confirmButtonText: `Submit`,
                denyButtonText: `Cancel`,
            }).then((result) => {

                if (result.isConfirmed) {

                    $.ajax({
                        url: 'submitReject',
                        type: 'POST',
                        headers: {
                            'CSRF-Token': _csrf
                        },
                        data: { id: studentId },
                        success: function (response) {


                            window.location.reload(false);
                            return false;
                        }
                    });

                    Swal.fire('Saved!', '', 'success')

                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })


        }

    </script>
</body>